* {
    box-sizing: border-box;
    margin: 0px;
    
}

h1,
h2,
h3,
footer {
    text-align: center;
    text-transform: uppercase;
}

header {
    font-family: 'Almendra', serif;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ae3333;
    width: 100%;
}

h1 {
    margin: 30px 0 30px 0;
}

h2 {
    margin: 40px;
    font-family: 'Acme';
    font-size: 30px;
    letter-spacing: 2px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section {
    box-sizing: content-box;
    display: flex;
    display: inline-block;
    margin: 20px;
}
#card, 
#pile {
    width: 230px;
    height: 400px;
    border-radius: 18px;
}

#card {
    box-shadow: 10px 10px #ae3333;
}

#card:hover {
    box-shadow: 6px 6px 15px 6px #0fc72d;
}

img {
    width: 230px;
    height: 400px;
    border-radius: 18px;
    border: 5px solid #ae3333;
}


main {
    flex-grow: 1;
    display: flex;
    display: inline-block;
}

h3 {
    font-family: 'Acme';
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
}

h3>div {
    font-size: 55px;
}

footer {
    font-family: 'Acme';
    min-height: 40px;
    align-items: center;
}

.modal {
    font-family: 'Source Serif Pro';
    font-size: 40px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 3px solid #0d8580;
    width: 50%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
    text-align: center;
}
